<!DOCTYPE html>
<head><h2>About Us</h2></head>
<header><title>cherry</title>

    <h3>Welcome to cherry about page</h3>
</header>
<body>
    <h1>What is Cherry</h1>
    <h4><p>Cherries are one of the most popular fruit varieties, and they are technically a drupe, a fruit with a hard stone inside.</p>

        <p>The cherry is a small fruit with a sweet and juicy taste. There are also two main types of cherry; sour cherries and sweet cherries.</p>
        
        <p>These two varieties are fairly similar, but sour cherries have the slightly better nutritional profile.</p></h4>
</body>